
html,body
{
	margin: 0px;
	background-color: white;
	font-family: Comic Sans MS;
	 font-size: 20px
	 height:100;
	 width: 100;
}


nav,ul,li{
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 0px;
	display: inline-block;
	
}
a{
	color: #563d7c;
	justify-content: right;
}


img{
	padding: 0px;
	margin-top: 5px;
	margin-left: 10px;
	height: 25px;
	width: 128px;
	float: left;
	
	}

.btn-primary{
	background-color: #563d7c;
	width: 184px;
	height: 35px;
	text-align: center;
	font-family: Comic Sans MS;
	 font-size: 16px
	 justify-content:left;

}
.sec1{
	background-image: url(home.jpg);
	 position: relative;
    width: 100%;

    padding: 100px 0;
    padding-bottom: 20px;
    margin: 0px auto;
}

footer{
	background-color: #d9e2f7;
	color: #708C91;
	padding: 16px;
	font-size: 16px;
}

.HomeBlock-title{
	margin-top: 200px;
	justify-content: center;
	padding: 0;
    font-size: 60px;
    text-align: center;
    color: white;
    font-family:Elephant;
}

.HomeBlock-p{
	padding-top: 0px;
	padding: 0px;
	margin: 0px;
justify-content: center;
	font-size: 25px;
	color: white;
	font-family: Elephant;
	text-align: center;
}

.Home-form{
	margin-top: 60px;
	display: inline;
	justify-content: center;
	margin-right: 20px;
	margin-left: 20px;
	display: inline-flex;
	padding-right:  20px;

	}
	.se2{
	display: inline-block;
	display: inline-flex;
	display: inline;
	display: inline-grid;
	display: inline-table;
}
.sec2-img{
	background-image: url(driver.jpg);
	height: 544px;
	width: 320px;  
}

.sec2-1{
	    padding: 0 0 24px;
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-align: left;
    height: 320px;
    width: 356px;

}

.offer{
	margin-top: 20px;
	padding:20px;
background-color: #708C91;
}

.off{
margin-left: 150px;
margin-bottom: 20px;
padding-top:  80px;
font-size: 24px;
text-align: center;
font-family: sans-serif;
color: #054752;
}

.sec3{
	
	margin-bottom: 20px;
	padding-top: 20px;

}
.foo{
	background-color: #ddd;
	color: #708C91;
	padding: 16px;
	font-size: 16px;
}
.btn-con{
	width: 400px;
	height: auto;
	justify-content: center;
	position: absolute;
	top: 83%;
	left:70%;

}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
}
